body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
    line-height: 180%;
}

h2 {
  text-align: center;
  color: #444;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 200px;
}

a {
    text-decoration: none;
}

.welcome {
    background-color: #666;
}

html {
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  color: #007bff;
}

li:hover {
  color: #0056b3;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}