<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quisquam
      illum mollitia earum animi, est quis molestias minima rerum fuga alias ab
      exercitationem vitae recusandae blanditiis quos, distinctio delectus
      dolores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
      dignissimos sapiente aliquam a voluptates, omnis veniam eligendi adipisci
      molestiae repellendus dolores quas hic minus deserunt dolorum ratione ipsa
      velit beatae!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minus
      quisquam non iure voluptate. Culpa itaque quod consectetur temporibus
      aliquam, repudiandae eius exercitationem. Iure eum, cumque labore
      reiciendis dolorum error.
    </p>
  </body>
</html>
