<h1>Add a Product</h1>
<form action="/products" method="POST">
  <label for="name">Product Name:</label>
  <input type="text" name="name" id="name" placeholder="Product Name" />
  <label for="price">Price:</label>
  <input type="number" name="price" id="price" placeholder="Price" />
  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value="fruits">Fruits</option>
    <option value="vegetables">Vegetables</option>
    <option value="dairy">Dairy</option>
    <option value="fungi">Fungi</option>
    <option value="baked">Baked Goods</option>
  </select>
  <button>Submit</button>
</form>
<br />
<a href="/products">All Products</a>
