<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: title }); %>
  </head>
  <body>
    <%- body %>
  </body>
  <% if (showFooter) { %> <%- include('partials/foot'); %> <% } %>
</html>
